[SddmGreeterTheme]
Name=sddm-jupiter-theme
Description=sddm-jupiter-theme
Author=keyitdev
Website=https://github.com/naurissteins
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.3
ConfigFile=Themes/jupiter.conf
Screenshot=Previews/astronaut.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-jupiter-theme
Theme-API=2.0
QtVersion=6